$backg: #252a4a;
$chat-blue: #202342;
$text: #fff;
$inactive-text: #ffffffc0;
$mid-component: #363c7075;
$delete: #ff0000;
$delete_hover: #ff3d3d;
$new: #00a2ff;
$new-hovered: #0280c9;
$green: #38ffb7;
$hovered-item: #363c70;
$list-item: #363c703a;
$item-button: #3459f0;
$orange: #ff700a;
$light-blue: #31d1df;
