@use "../../colors.scss";

.button {
  width: 8rem;
  height: 3.5rem;
  border-radius: 2rem;
  box-shadow: 0 0 15px -4px rgba(0, 0, 0, 0.25);
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.25);
  user-select: none;

  span {
    font-size: 245%;
    font-weight: 700;
  }
}

.inactive {
  background-color: #202342 !important;
}

.addButton {
  &:hover {
    background-color: colors.$new-hovered !important;
    transition: background-color ease-in-out 0.2s;
  }
}

.rhuButton {
  grid-area: RHU;
  &:hover {
    color: colors.$text;
    background-color: colors.$green !important;
    transition: background-color ease-in-out 0.2s, color ease-in-out 0.2s;
  }
}

.rauButton {
  grid-area: RAU;
  &:hover {
    color: colors.$text;
    background-color: colors.$orange !important;
    transition: background-color ease-in-out 0.2s, color ease-in-out 0.2s;
  }
}

.customButton {
  grid-area: custom;
  width: 14rem !important;
  &:hover {
    color: colors.$text;
    background-color: colors.$new-hovered !important;
    transition: background-color ease-in-out 0.2s, color ease-in-out 0.2s;
  }
}

.logoutButton {
  width: 15rem;
  background-color: colors.$delete !important;

  &:hover {
    color: colors.$text;
    background-color: colors.$delete_hover !important;
    transition: background-color ease-in-out 0.2s, color ease-in-out 0.2s;
  }
}
