@use "../../colors.scss";

.printer-info {
  width: 95%;
  max-width: 1100px;
  border-radius: 2rem;
  padding: 1rem;
  background-color: colors.$hovered-item;
  margin-top: 2rem;
  margin-bottom: 2rem;

  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;

  .icon-wrap {
    flex: 1 0 25%; /* explanation below */
    max-height: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 1rem;

    p {
      font-size: 140%;
      text-align: center;
    }

    svg {
      width: 4rem;
      height: 3rem;
    }
  }

  #links {
    margin-top: 3rem;

    svg {
      width: 5rem;
      height: 4rem;
    }

    &:hover {
      cursor: pointer;
    }

    &:hover svg path {
      fill: colors.$green;
    }
  }
}
