@use '../../colors.scss';

.label_checkbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.7rem;

  .name {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    user-select: none;
  }
}

.up {
  flex-direction: column;
}

.checkbox {
  display: grid;
  grid-template-columns: min-content auto;
  font-size: 2rem;
  color: var(--color);
}

.checkbox__input {
  display: grid;
  grid-template-areas: "checkbox";

  > * {
    grid-area: checkbox;
  }

  input {
    opacity: 0;
    width: 1em;
    height: 1em;
  }
}

.checkbox__input input:checked + .checkbox__control svg {
  transform: scale(1);
}

.checkbox__input input:checkbox:disabled + .checkbox__control {
  color: var(--disabled);
}

.checkbox__control {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1em;
  height: 1em;
  border-radius: 0.25em;
  border: 0.12rem solid currentColor;

  svg {
    transition: transform 0.1s ease-in 25ms;
    transform: scale(0);
    color: colors.$green;
    transform-origin: bottom left;
  }
}
